<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mx-auto">
      <h4>
        <span class="text-white bg-secondary">レート変動一覧</span>
      </h4>
      <!--一覧表-->
      <% if @rate_graphs.exists? %>
        <table class='table table-hover table-inverse'>
          <thead class="text-white bg-secondary">
            <th>試合No.</th>
            <th>試合日時</th>
            <th>試合前</th>
            <th>試合後</th>
            <th></th>
          </thead>
          <tbody>
            <% rate_graphs.each do |rate_graph| %>
              <tr><%= rate_graph.id %></tr>
              <tr><%= rate_graph.create_at.strftime("%m月%d日 %H:%M") %></tr>
              <tr><%= rate_graph.before_rate %></tr>
              <tr><%= rate_graph.after_rate %></tr>
              <tr><%= link_to "編集する", edit_rate_graph_path(), class:"btn btn-success" %></tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @rate_graphs %>
      <% else %>
        <p class="text-center font-weight-bold">データがありません。</p>
      <% end %>
    </div>
  </div>
</div>