<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <h4>
        <span class="text-white bg-secondary font-weight-bold">レート変動一覧</span>
      </h4>
      <!--一覧表-->
      <% unless @rate_graphs.count == 0 %>
        <table class='table table-hover table-inverse'>
          <thead class="text-white bg-secondary">
            <th class="text-center">試合No.</th>
            <th class="text-center">試合日時</th>
            <th class="text-center">試合前</th>
            <th class="text-center">試合後</th>
            <th class="text-center"></th>
          </thead>
          <tbody>
            <% @rate_graphs.each_with_index do |rate_graph,number| %>
            <tr>
              <td class="text-center"><%= number+1 %></td>
              <td class="text-center"><%= rate_graph.created_at.strftime("%Y/%m/%d %H:%M") %></td>
              <td class="text-center"><%= rate_graph.before_rate %></td>
              <td class="text-center"><%= rate_graph.after_rate %></td>
              <td class="text-center"><%= link_to "編集する", edit_rate_graph_path(rate_graph), class: "btn btn-success" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @rate_graphs %>
      <% else %>
        <p class="text-center font-weight-bold">データがありません。</p>
      <% end %>
    </div>
  </div>
</div>