<% rate_graph_comments.each do |rate_graph_comment| %>
  <% rate_graph_comment_user = rate_graph_comment.user %>
  <tr>
  	<td>
  	  <!--ユーザー画像＆名前-->
  		<%= link_to user_path(rate_graph_comment_user), class: "user_#{rate_graph_comment_user.id}" do %>
  		  <% if rate_graph_comment.user.image.attached? %>
          <%= image_tag rate_graph_comment.user.image.variant(resize:"50x50") %>
        <% else %>
          <%= image_tag 'PF-noimagemini.png' %>
        <% end %><br>
    		<%= rate_graph_comment_user.name %>
  		<% end %>
  	</td>
  	<!--コメント内容-->
  	<td><%= rate_graph_comment.comment %></td>
  	<!--いいね-->
  	<td id="favorite_<%= rate_graph_comment.id %>"><%= render 'favorites/favorite-btn', user: @user, rate_graph_comment: rate_graph_comment %></td>
  	<% if current_user == rate_graph_comment_user %>
    	<td><%= link_to '削除', user_rate_graph_comment_path(@user.id, rate_graph_comment.id), class: 'btn-sm btn-danger', method: :delete, remote: true %></td>
  	<% end %>
  	<td><%= rate_graph_comment.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
  </tr>
<% end %>